// overwrite theme variables

// test theme
// $primary: #f00;
// $secondary: #0f0;
// $dark: #300;
// $light: #fdd;
// $success: #0fa;
// $info: #555;
// $warning: #ff0;
// $danger: #f00;

// good-looking theme
$primary: #8d66a4;
$secondary: #9ab6da;
$dark: #386086;
$light: #f2efee;
$success: #66ab57;
$info: #9ab6da;
$warning: #e49b1f;
$danger: #f56258;

.photoFrame {
  width: 400px;
  height: 400px;
}

.photos {
  max-width: 100%;
  max-height: 100%;
}

.iconHover {
  cursor: pointer;
}



// import bootstrap styles at the bottom!
@import '~bootstrap/scss/bootstrap.scss';
